@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@500&display=swap");
/* Common Stylings Starts*/
:root {
  --color1: #003566;
  --color2: #001d3d;
  --color3: #3a86ff;
  --color4: #fb5607;
  --color5: #3f37c9;
  --color6: #f77f00;
  --color7: #ffffff;
}
body {
  font-family: "Inter";
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Inter";
}
a {
  text-decoration: none !important;
}
.custom-container {
  padding: 100px 100px;
}
.top-section-heading {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 50px;
}
.top-section-heading::before {
  content: "";
  height: 10px;
  width: 100px;
  background-color: var(--color2);
  position: absolute;
  margin-top: 50px;
  border-radius: 4px;
}
/* Common Stylings Ends */
/* Navbar CSS Starts */
.navbar {
  background-color: var(--color2);
  padding: 25px 30px !important;
  color: var(--color7);
}
.logo a {
  text-decoration: none;
  font-family: "Nunito";
  font-size: 25px;
  color: var(--color4);
}
.logo a:hover {
  color: var(--color6);
}

.searchbox input {
  width: 450px;
  border-radius: 3px;
  border: 1px solid #3a86ff;
  margin-right: 15px;
}
.searchbox button {
  padding: 8px 30px;
  background-color: var(--color4);
  border: none;
  font-size: 15px;
  font-weight: 500;
}
.searchbox button:hover {
  background-color: var(--color6);
}
.navbar-end a {
  text-decoration: none;
  color: var(--color7);
  padding: 10px;
}
.navbar-end a:hover {
  color: var(--color4);
}
.navbar-end .user-icon,
.navbar-end .all-products-btn {
  font-size: 20px;
}
.navbar-end .cart-icon {
  font-size: 22px;
}
.navbar-end .all-products-btn {
  font-weight: 500;
  margin-right: 50px;
}
/* Navbar CSS Ends */
/* Hero Area CSS Starts */
.hero-area {
  height: 890px;
  width: 100%;
  background-image: url("./images/hero_background.jpg"),
    linear-gradient(43deg, #4158d0 28%, #c850c0 46%, #ffcc70 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
}
.hero-area .row {
  justify-content: space-between;
  width: 100%;
}
.hero-area .hero-product-image {
  height: 500px;
  width: 500px;
  object-fit: contain;
  text-align: right;
}
.hero-area .hero-area-text {
  color: var(--color7);
}
.hero-area .hero-area-image-holder {
  text-align: center;
}
.hero-area .hero-area-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-area .hero-area-text h1 {
  font-size: 52px;
  margin-bottom: 30px;
  font-weight: 700;
}
.hero-area .hero-area-text p {
  font-size: 18px;
  width: 580px;
  margin-bottom: 20px;
}
.hero-area .hero-area-text a {
  text-decoration: none;
  color: var(--color7);
  padding: 15px 40px;
  background-color: var(--color4);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  display: inline-block;
}

.hero-area .hero-area-text a:hover {
  background-color: var(--color6);
}
/* Hero Area CSS Ends */
/* Product Card CSS Starts */
.product-card {
  -webkit-box-shadow: 6px 5px 15px 5px rgba(0, 29, 61, 0.2);
  box-shadow: 6px 5px 15px 5px rgba(0, 29, 61, 0.2);
  padding: 30px;
  border-radius: 6px;
  transition: 0.5s all ease;
  margin: 15px 5px;
}
.product-card:hover {
  -webkit-box-shadow: 6px 5px 15px 5px rgba(251, 86, 7, 0.2);
  box-shadow: 6px 5px 15px 5px rgba(251, 86, 7, 0.2);
}
.product-card .product-img-holder {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.product-card .product-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.product-card .product-category {
  font-size: 15px;
  font-weight: 400;
  padding: 3px 5px;
  color: var(--color7);
  background-color: var(--color4);
  border-radius: 3px;
  opacity: 0.8;
}
.product-card .product-data {
  color: var(--color2);
}
.product-card .product-data h2.product-name a {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--color2);
}
.product-card .product-data h2.product-price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.product-card .product-data .product-btns {
  display: flex;
  justify-content: space-between;
}
.product-card .product-data .product-btn {
  padding: 12px 35px;
  border: none;
  color: var(--color7);
  border-radius: 6px;
  transition: 0.15s all ease-in;
  font-size: 18px;
  font-weight: 500;
  display: block;
}
.product-card .product-data .product-btn.product-buy-btn {
  background-color: var(--color2);
}
.product-card .product-data .product-btn.product-buy-btn:hover {
  background-color: var(--color1);
}

.product-card .product-data .product-btn.product-atc-btn {
  background-color: var(--color4);
}
.product-card .product-data .product-btn.product-atc-btn:hover {
  background-color: var(--color6);
}

/* Product Card CSS Ends */
/* Home Category Section CSS Starts */

.categories-home {
  margin: 15px 0px;
}
.categories-home .category-holder {
  margin: 20px 10px;
  background-color: var(--color2);
  border-radius: 6px;
  transition: 0.3s all ease-in-out;
  text-align: center;
}
.categories-home .category-holder a {
  padding: 30px;
  color: var(--color7);
  font-size: 25px;
  font-weight: 600;
  display: inline-block;
  width: 100%;
  transition: 0.3s all ease-in;
}
.categories-home .category-holder:hover {
  background-color: var(--color5);
}
.categories-home .category-holder:hover a{
  transform: scale(1.2);
}
/* Home Category Section CSS Ends */
/* Footer CSS Starts */
.footer{
  background-color: var(--color2);
  padding-bottom: 10px;
}
.footer .footer-icons{
  margin-top: 30px;
}
.footer .footer-icons a{
  color: var(--color7);
  font-size: 22px;
  height: 40px;
  width: 40px;
  margin-left: 20px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: 0.2s all ease-in;
}
.footer .footer-icons a:first-child{
  margin-left: 0px;
}
.footer .footer-icons a:hover{
  border-color: var(--color4);
}
.footer .footer-nav{
  text-align: right;
}
.footer .footer-nav ul{
  list-style: none;
}
.footer .footer-nav ul li {
  margin: 5px;
}
.footer .footer-nav ul li a{
  color: var(--color7);
  font-size: 18px;
  padding: 10px;
}
.footer .footer-nav ul li a:hover{
  color: var(--color4);
}
.footer .footer-copyright{
  display: flex;
  justify-content: space-between;
  color: var(--color7);
  margin-top: 70px;
}
.footer .footer-copyright p, .footer .footer-copyright a{
  font-size: 15px;
}
/* Footer CSS Ends */
